<% var parent = posts[0]; -%>
<% var children = posts.slice(1); -%>

<div class="hero-unit">
  <h2 class="id">Message from <%= parent.authorName %></h2>

  <section>
    <audio controls src="http://localhost:5002/<%= parent.audioUuid %>"></audio>
    <br>
    Join the conversation
    <button onclick="toggleRecording()" data-parent-id="<%= parent.id %>">Record</button>
    <script src="http://cdn.binaryjs.com/0/binary.js"></script>
    <script src="/js/core/recorder.js"></script>
  </section>

  <%- linkTo('Edit this post', editPostPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', postPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>Responses</h2>
<% if(children.length) { -%>
  <% for(var i in children) { -%>
    <% var child = children[i]; -%>
    <div class="row list-item">
      <div class="span4">
        <h4><%- linkTo("response by "+child.authorName, postPath(child.id)); %></h4>
      </div>
      <div class="span8">
        <audio controls src="http://localhost:5002/<%= child.audioUuid %>"></audio>
      </div>
    </div>
  <% } -%>
<% } else { -%>
  No children...
<% } -%>
